@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin "@tailwindcss/typography";

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

    @keyframes scroll {
      to {
        transform: translate(calc(-50% - 0.5rem));
      }
    }
  }

.toaster .toast::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 1px;
    width: 100%;
    height: 6px;
    background-color: var(--primary);
    border-radius: 0 100px 100px 100px;
    transform: translate(0px, 1px);
    animation: toast-progress linear;
    animation-duration: 4.2s; /* Match the default Sonner timeout */
}

@keyframes toast-progress {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}


/* Western font */

@font-face {
    font-family: NowBlack;
    src: url('/public/assets/fonts/NowAlt/Now-Black.otf')format('truetype');
}
@font-face {
    font-family: NowBold;
    src: url('/public/assets/fonts/NowAlt/Now-Bold.otf')format('truetype');
}
@font-face {
    font-family: NowLight;
    src: url('/public/assets/fonts/NowAlt/Now-Light.otf')format('truetype');
}
@font-face {
    font-family: NowMedium;
    src: url('/public/assets/fonts/NowAlt/Now-Medium.otf')format('truetype');
}
@font-face {
    font-family: NowRegular;
    src: url('/public/assets/fonts/NowAlt/Now-Regular.otf')format('truetype');
}
@font-face {
    font-family: NowThin;
    src: url('/public/assets/fonts/NowAlt/Now-Thin.otf')format('truetype');
}
@font-face {
    font-family: NowAltBlack;
    src: url('/public/assets/fonts/NowAlt/NowAlt-Black.otf')format('truetype');
}
@font-face {
    font-family: NowAltBold;
    src: url('/public/assets/fonts/NowAlt/NowAlt-Bold.otf')format('truetype');
}
@font-face {
    font-family: NowAltLight;
    src: url('/public/assets/fonts/NowAlt/NowAlt-Light.otf')format('truetype');
}
@font-face {
    font-family: NowAltMedium;
    src: url('/public/assets/fonts/NowAlt/NowAlt-Medium.otf')format('truetype');
}
@font-face {
    font-family: NowAltRegular;
    src: url('/public/assets/fonts/NowAlt/NowAlt-Regular.otf')format('truetype');
}
@font-face {
    font-family: NowAltThin;
    src: url('/public/assets/fonts/NowAlt/NowAlt-Thin.otf')format('truetype');
}
@font-face {
    font-family: MoulRegular;
    src: url('/public/assets/fonts/Moul/Moul-Regular.ttf')format('truetype');
}


/*End Western font */










/* Kh */

@font-face {
    font-family: NotoSansBlack;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-black.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansBold;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-bold.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansExtraBold;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-extra-bold.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansExtraLight;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-extra-light.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansLight;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-light.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansMedium;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-medium.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansRegular;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-regular.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansSemibold;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-semibold.ttf')format('truetype');
}
@font-face {
    font-family: NotoSansThin;
    src: url('/public/assets/fonts/NotoSansFonts/noto-sans-khmer-thin.ttf')format('truetype');
}

/* End Kh */

/* En */
@font-face {
    font-family: ProximaBlack;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-black.otf') format('truetype');
}
@font-face {
    font-family: NovaRegular;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-regular.otf')format('truetype');
}
@font-face {
    font-family: ProximaBold;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-bold.otf')format('truetype');
}
@font-face {
    font-family: ProximaBoldItalic;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-bold-italic.otf')format('truetype');
}
@font-face {
    font-family: ProximaExtrabold;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-extrabold.otf')format('truetype');
}
@font-face {
    font-family: ProximaExtraboldItalic;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-bold-italic.otf')format('truetype');
}

@font-face {
    font-family: ProximaSemibold;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-semibold.otf')format('truetype');
}

@font-face {
    font-family: ProximaSemiboldItalic;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-semibold-italic.otf')format('truetype');
    font-family: ProximaBlackItalic;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-black-italic.otf') format('truetype');
}

@font-face {
    font-family: ProximaThin;
    src: url('/public/assets/fonts/ProximaNovaFonts/proxima-nova-thin.otf') format('truetype');
}


/* End En */

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-moul-regular: MoulRegular;
    --font-now-black: NowBlack, 'Poppins';
    --font-now-bold: NowBold, 'Poppins';
    --font-now-light: NowLight, 'Poppins';
    --font-now-medium: NowMedium, 'Poppins';
    --font-now-regular: NowRegular, 'Poppins';
    --font-now-thin: NowThin, 'Poppins';
    --font-now-alt-black: NowAltBlack, 'Poppins';
    --font-now-alt-bold: NowAltBold, 'Poppins';
    --font-now-alt-light: NowAltLight, 'Poppins';
    --font-now-alt-medium: NowAltMedium, 'Poppins';
    --font-now-alt-regular: NowAltRegular, 'Poppins';
    --font-now-alt-thin: NowAltThin, 'Poppins';
    --font-now-black: ProximaBlack, 'Poppins';
    --font-now-black-italic: ProximaBlackItalic, 'Poppins';
    --font-proxima-thin: ProximaThin, 'Poppins';
    --font-proxima-nova-regular: NovaRegular, 'Poppins';
    --font-proxima-nova-bold: ProximaBold, 'Poppins';
    --font-proxima-nova: ProximaBoldItalic, 'Poppins';
    --font-proxima-nova-extrabold: ProximaExtrabold, 'Poppins';
    --font-proxima-nova-extrabold-italic: ProximaExtraboldItalic, 'Poppins';
    --font-proxima-nova-semibold-italic: ProximaSemiboldItalic, 'Poppins';
    --font-proxima-nova-semibold: ProximaSemibold, 'Poppins';
    --font-noto-san-black: NotoSansBlack, 'Poppins';
    --font-noto-san-bold: NotoSansBold, 'Poppins';
    --font-noto-san-extra-bold: NotoSansExtraBold, 'Poppins';
    --font-noto-san-extra-light: NotoSansExtaLight, 'Poppins';
    --font-noto-san-light: NotoSansLight, 'Poppins';
    --font-noto-san-semibold: NotoSansSemibold, 'Poppins';
    --font-noto-san-thin: NotoSansThin, 'Poppins';
    --font-noto-san-medium: NotoSansMedium, 'Poppins';
    --font-noto-san-regular: NotoSansRegular, 'Poppins';
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-true-primary: var(--true-primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

.bg-gradient {
    background: rgb(4, 24, 45);
    background: linear-gradient(90deg, #002d62 47%, #035391 100%);
}

.shadow-gradient {
    box-shadow: 0px 4px 20px rgba(3, 83, 145, 0.5); /* Adjust opacity */
}

.bg-gradient {
    background: rgb(4, 24, 45);
    background: linear-gradient(90deg, #002d62 47%, #035391 100%);
}
@keyframes custom-bounce {
    0%,
    100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0);
    }
}

.animate-bounce-2s {
    animation: custom-bounce 10s infinite;
}

.text-color1{
    color: #2a328d;
}
.text-color2{
    color: #a6aaad;
}

.text-color1{
    color: #2a328d;
}
.text-color2{
    color: #a6aaad;
}

.text-color{
    color: #273896;
}
.text-yellow {
    color: #f68c1f;
}
.bg-yellow {
    background: #f68c1f;
}
.background {
    background: #273896;
}
.background-thin {
    background-color: #273896;
    opacity: 0.7;
}

.hover-background:hover {
    background: #273896;
}
.border-color {
    border-color: #273896;
}
.background-blue-color {
    background: #0bbcd4;
}
.background-dark-blue {
    background: #008080;
}
.background-dark-gray {
    background: #36454f;
}

.bg-gradient-hover:hover {
    background: linear-gradient(90deg, #035391 47%, #002d62 100%);
    transition: background 0.3s ease-in-out;
}
.bg-gradient-line {
    background-image: linear-gradient(
        90deg,
        rgba(149, 131, 198, 0) 1.46%,
        rgba(149, 131, 198, 0.6) 40.83%,
        rgba(149, 131, 198, 0.3) 65.57%,
        rgba(149, 131, 198, 0) 107.92%
    );
}

/* Custom scrollbar for WebKit browsers */
.scroll-container::-webkit-scrollbar {
    height: 5px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}
.scroll-container::-webkit-scrollbar-track {
    background-color: #222;
}

:root {
    --m: 1.5rem;

    --red: #ff6565;
    --pink: #ff64f9;
    --purple: #6b5fff;
    --blue: #4d8aff;
    --green: #5bff89;
    --yellow: #ffee55;
    --orange: #ff6d1b;

    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.59 0.23 278.87);
    --true-primary: oklch(0.59 0.23 278.87);
    --primary-foreground: oklch(0.985 0 0);
    --success: oklch(0.627 0.194 149.214);
    --success-foreground: oklch(0.985 0 0);
    --warning: oklch(0.795 0.184 86.047);
    --warning-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.94 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --true-primary: oklch(0.59 0.23 278.87);
    --primary-foreground: oklch(0.205 0 0);
    --success: oklch(0.627 0.194 149.214);
    --success-foreground: oklch(0.985 0 0);
    --warning: oklch(0.795 0.184 86.047);
    --warning-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.94 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* CSS Class */
@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(to bottom right, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
    }
    25% {
        border-image-source: linear-gradient(to bottom right, #fd1892, #b827fc, #2c90fc, #b8fd33, #fec837);
    }
    50% {
        border-image-source: linear-gradient(to bottom right, #fec837, #fd1892, #b827fc, #2c90fc, #b8fd33);
    }
    75% {
        border-image-source: linear-gradient(to bottom right, #b8fd33, #fec837, #fd1892, #b827fc, #2c90fc);
    }
    100% {
        border-image-source: linear-gradient(to bottom right, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
    }
}

.yarl__thumbnails_thumbnail_active {
    border-width: 5px !important;
    background-color: #302244;
    border: 5px solid transparent;
    border-image-source: linear-gradient(to bottom right, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
    border-image-slice: 1;
    height: 200px;
    margin: 20px auto;
    width: 200px;
    border-radius: 0px !important;
    animation: borderAnimation 2s linear infinite;
    object-fit: cover !important;
    padding: 0 !important;
}
.yarl__thumbnails_thumbnail {
    border-radius: 0px !important;
    object-fit: cover !important;
    padding: 0 !important;
}
.yarl__thumbnails_thumbnail .yarl__slide_image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    padding: 0 !important;
}

.rainbow-button {
    border: calc(0.18 * var(--m)) solid transparent;
    position: relative;
    color: #f3f3f3;
    font-size: 1.2rem;
    border-radius: calc(0.4 * var(--m));
    padding: calc(0.55 * var(--m)) calc(1 * var(--m));
    display: flex;
    justify-content: center;
    cursor: pointer;

    background:
        linear-gradient(#121213, #121213),
        linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    animation: animate 2s infinite linear;
}

.rainbow-button::before {
    content: '';
    background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    height: 30%;
    width: 60%;
    position: absolute;
    bottom: -20%;
    z-index: -5;
    background-size: 200%;
    animation: animate 2s infinite linear;
    filter: blur(calc(0.8 * var(--m)));
}

.rainbow-button:hover,
.rainbow-button:hover::before {
    animation: animate 0.5s infinite linear;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 200%;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --m: 2rem;
    }
}

/* Start CK Editor */
/* CKEditor */
/* Align the text in button labels to the left with some margin */
.ck.ck-button.ck-button_with-text .ck-button__label,
a.ck.ck-button.ck-button_with-text .ck-button__label {
    text-align: start !important; /* Align text to the left */
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
}
.ck.ck-menu-bar__menu.ck-menu-bar__menu_top-level > .ck-menu-bar__menu__button .ck-button__label {
    margin: 0 !important;
}
.ck.ck-menu-bar {
    padding: 1.5px !important;
}
.ck.ck-button {
    padding: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}
.ck.ck-button__label {
    line-height: 1.5 !important;
}
.ck.ck-list-item-button .ck-list-item-button__check-holder {
    display: none !important;
}

.ck .ck-list__item {
    margin: 0 !important;
    padding: 0 !important;
}
.ck.ck-button.ck-list-item-button {
    margin: 0 !important;
    padding: 10px !important;
    /* padding-top: 10px !important;
    padding-bottom: 10px !important; */
}
.ck.ck-list__item.ck-menu-bar__menu__item {
    padding: 0 !important;
}
.ck.ck-splitbutton.ck-splitbutton_open > .ck-splitbutton__arrow:not(.ck-disabled)::after,
.ck.ck-splitbutton:hover > .ck-splitbutton__arrow:not(.ck-disabled)::after {
    left: -1px;
}

/* CKEditor Content */
@media print {
    body {
        margin: 0 !important;
    }
}
.prose img {
    width: 100%;
    height: auto;
}
.prose figure {
    margin: auto;
}
.prose figure td {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.ck-powered-by {
    display: none !important;
}
.main-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    line-height: 1.6;
    word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
}

.editor-container_include-block-toolbar {
    margin-left: 42px;
}

.ck-content h3.category {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
}

.ck-content h2.document-title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
}

.ck-content h3.document-subtitle {
    font-size: 20px;
    color: #555;
    margin: 0 0 1em;
    font-weight: bold;
    padding: 0;
}

.ck-content p.info-box {
    --background-size: 30px;
    --background-color: #e91e63;
    padding: 1.2em 2em;
    border: 1px solid var(--background-color);
    background:
        linear-gradient(135deg, var(--background-color) 0%, var(--background-color) var(--background-size), transparent var(--background-size)),
        linear-gradient(
            135deg,
            transparent calc(100% - var(--background-size)),
            var(--background-color) calc(100% - var(--background-size)),
            var(--background-color)
        );
    border-radius: 10px;
    margin: 1.5em 2em;
    box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content blockquote.side-quote {
    font-style: normal;
    float: right;
    width: 35%;
    position: relative;
    border: 0;
    overflow: visible;
    z-index: 1;
    margin-left: 1em;
}

.ck-content blockquote.side-quote::before {
    content: '“';
    position: absolute;
    top: -37px;
    left: -10px;
    display: block;
    font-size: 200px;
    color: #e7e7e7;
    z-index: -1;
    line-height: 1;
}

.ck-content blockquote.side-quote p {
    font-size: 2em;
    line-height: 1;
}

.ck-content blockquote.side-quote p:last-child:not(:first-child) {
    font-size: 1.3em;
    text-align: right;
    color: #555;
}

.ck-content span.marker {
    background: yellow;
}

.ck-content span.spoiler {
    background: #000;
    color: #000;
}

.ck-content span.spoiler:hover {
    background: #000;
    color: #fff;
}

.ck-content pre.fancy-code {
    border: 0;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 10px;
}

.ck-content pre.fancy-code::before {
    content: '';
    display: block;
    height: 13px;
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
    margin-bottom: 8px;
    background-repeat: no-repeat;
}

.ck-content pre.fancy-code-dark {
    background: #272822;
    color: #fff;
    box-shadow: 5px 5px 0 #0000001f;
}

.ck-content pre.fancy-code-bright {
    background: #dddfe0;
    color: #000;
    box-shadow: 5px 5px 0 #b3b3b3;
}

.ck.ck-toolbar {
    border: none !important;
}
/* End CK Editor */
